<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
	<td></td>
      </tr>
      <tr><td>08:45</td> <td>Welcome cofee/tea</td><td></td></tr>	    
      <tr><td>09:00</td> <td>Intro to Carpentry</td><td>MK</td></tr>	    
      <tr><td>09:15</td> <td> <a href="https://nioo-knaw.github.io/cloud-genomics/">Introduction to Cloud Computing</a></td><td>MH</td></tr>
      <tr><td>10:30</td> <td>cofee/tea break</td><td></td></tr>	    	          
      <tr><td>10:45</td> <td> <a href="https://nioo-knaw.github.io/cloud-genomics/">Introduction to Cloud Computing continued</a></td><td>MH</td></tr>
      <tr><td>11:45</td><td><a href="https://datacarpentry.org/shell-genomics/">Introducing the shell</a></td><td>LF</td></tr>
      <tr><td>12:15</td> <td>Organized lunch in Grand cafe downstairs</td><td></td></tr>
      <tr><td>13:00</td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the command line</a></td><td>LF</td></tr>
      <tr><td>14:45</td> <td>cofee/tea break</td><td></td></tr>
      <tr><td>15:00</td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the command line part 2</a></td><td>LF</td></tr>	    
      <tr><td>16:30</td> <td>Closing</td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>08:45</td> <td>Welcome cofee/tea</td><td></td></tr>	    	    
      <tr> <td>09:00</td> <td><a href="https://shiltemann.github.io/wrangling-genomics/">Data Wrangling and Processing Part 1</a></td><td>SH</td></tr>
      <tr><td>10:30</td> <td>cofee/tea break</td><td></td></tr>	    	    
      <tr> <td>10:45</td> <td><a href="https://shiltemann.github.io/wrangling-genomics/">Data Wrangling and Processing Part 2</a></td><td>SH</td></tr>
      <tr><td>12:15</td> <td>Organized lunch in Grand cafe downstairs</td><td></td></tr>
      <tr> <td>13:00</td><td><a href="https://shiltemann.github.io/wrangling-genomics/">Data Wrangling and Processing Part 3</a></td><td>MG</td></tr>
      <tr><td>14:45</td> <td>cofee/tea break</td><td></td></tr>
      <tr> <td>15:00</td><td><a href="https://shiltemann.github.io/wrangling-genomics/">Data Wrangling and Processing Part 4</a></td><td>MG</td></tr>	    
      <tr><td>16:30</td> <td>drinks & bites</td><td></td></tr>	          	    
      <tr>
	<td></td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
        <td></td>
      </tr>
      <tr><td>08:45</td> <td>Welcome cofee/tea</td><td></td></tr>
      <tr><td>09:00</td> <td>Intro to Carpentry</td><td>MK</td></tr>
      <tr><td>09:15</td> <td>Introduction to Cloud Computing</td><td>MH</td></tr>
      <tr><td>10:30</td> <td>cofee/tea break</td><td></td></tr>
      <tr><td>10:45</td> <td>Introduction to Cloud Computing continued</td><td>MH</td></tr>
      <tr><td>11:45</td> <td>Introducing the shell</td><td>LF</td></tr>
      <tr><td>12:15</td> <td>Organized lunch in Grand cafe downstairs</td><td></td></tr>
      <tr><td>13:00</td> <td>Introduction to the command line</td><td>LF</td></tr>
      <tr><td>14:45</td> <td>cofee/tea break</td><td></td></tr>
      <tr><td>15:00</td> <td>Introduction to the command line part 2</td><td>LF</td></tr>
      <tr><td>16:30</td> <td>Closing</td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>08:45</td> <td>Welcome cofee/tea</td><td></td></tr>
      <tr><td>09:00</td> <td>Data Wrangling and Processing Part 1</td><td>SH</td></tr>
      <tr><td>10:30</td> <td>cofee/tea break</td><td></td></tr>
      <tr><td>10:45</td> <td>Data Wrangling and Processing Part 2</td><td>SH</td></tr>
      <tr><td>12:15</td> <td>Organized lunch in Grand cafe downstairs</td><td></td></tr>
      <tr><td>13:00</td> <td>Data Wrangling and Processing Part 3</td><td>MG</td></tr>
      <tr><td>14:45</td> <td>cofee/tea break</td><td></td></tr>
      <tr><td>15:00</td> <td>Data Wrangling and Processing Part 4</td><td>MG</td></tr>
      <tr><td>16:30</td> <td>drinks & bites</td><td></td></tr>
      <tr>
        <td></td>
        <td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>

